{% extends 'base.html.twig' %}

{% block title %}Characters of Jujutsu Kaisen 2nd Season{% endblock %}

{% block body %}
    <main class="animeCharactersContainer">
        <h1 class="animeCharactersTitle">Characters of Jujutsu Kaisen 2nd Season</h1>
        <div class="animeRemainingRightContentPartCardsContainer">
            {% for i in range(1, 20) %}
                <section class="animeRemainingRightContentPartCardsContent">
                    <figure>
                        <img src="https://s4.anilist.co/file/anilistcdn/character/medium/b127691-6m4hNwL2vLML.png" alt="Satoru Gojou" class="animeRemainingRightContentPartCardsImage">
                    </figure>
                    <div class="animeRemainingRightContentPartCardsTextContainer">
                        <h2 class="animeRemainingRightContentPartCardsTop">Satoru Gojou</h2>
                        <p class="animeRemainingRightContentPartCardsBottom"><i>MAIN</i></p>
                    </div>
                </section>
            {% endfor %}
        </div>
    </main>
{% endblock %}