{% extends 'base.html.twig' %}

{% block title %}Jujutsu Kaisen 2nd Season{% endblock %}

{% block body %}
    <main class="animeContainer">
        <section class="animeTopContainer">
            <div class="animeTopContent">
                <div class="animeTopLeftContent">
                    <figure>
                        <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx145064-5fa4ZBbW4dqA.jpg" alt="Cover Image of Jujutsu Kaisen 2nd Season" class="animeImage">
                    </figure>
                    <button class="animeButtonAddTo list">Add to your list</button>
                    <button class="animeButtonAddTo favorites">Add to your favorites</button>
                </div>
                <div class="animeTopRightContent">
                    <h1 class="animeTitle">Jujutsu Kaisen 2nd Season</h1>
                    <h3 class="animeSynopsisTitle"><i>Synopsis</i></h3>
                    <p class="animeSynopsisContent">The second season of <i>Jujutsu Kaisen</i>.<br>\n<br>\nThe past comes to light when second-year students Satoru Gojou and Suguru Getou are tasked with escorting young Riko Amanai to Master Tengen. But when a non-sorcerer user tries to kill them, their mission to protect the Star Plasma Vessel threatens to turn them into bitter enemies and cement their destinies—one as the world’s strongest sorcerer, and the other its most twisted curse user!<br>\n<br>\n(Source: Crunchyroll)</p>
                </div>
            </div>
        </section>
        <div class="animeRemainingContainer">
            <div class="animeRemainingContent">
                <div class="animeRemainingLeftContent">
                    <section class="animeRemainingLeftContentInfo">
                        <h3 class="animeRemainingLeftContentInfoTitle"><i>Format</i></h3>
                        <p class="animeRemainingLeftContentInfoContent">TV</p>
                    </section>
                    <section class="animeRemainingLeftContentInfo">
                        <h3 class="animeRemainingLeftContentInfoTitle"><i>Status</i></h3>
                        <p class="animeRemainingLeftContentInfoContent">RELEASING</p>
                    </section>
                    <section class="animeRemainingLeftContentInfo">
                        <h3 class="animeRemainingLeftContentInfoTitle"><i>Airing Dates</i></h3>
                        <p class="animeRemainingLeftContentInfoContent">07/06/2023</p>
                        <p class="animeRemainingLeftContentInfoContent">to</p>
                        <p class="animeRemainingLeftContentInfoContent">?</p>
                    </section>
                    <section class="animeRemainingLeftContentInfo">
                        <h3 class="animeRemainingLeftContentInfoTitle"><i>Season</i></h3>
                        <p class="animeRemainingLeftContentInfoContent">SUMMER 2023</p>
                    </section>
                    <section class="animeRemainingLeftContentInfo">
                        <h3 class="animeRemainingLeftContentInfoTitle"><i>Episodes</i></h3>
                        <p class="animeRemainingLeftContentInfoContent">23</p>
                    </section>
                    <section class="animeRemainingLeftContentInfo">
                        <h3 class="animeRemainingLeftContentInfoTitle"><i>Episodes Duration</i></h3>
                        <p class="animeRemainingLeftContentInfoContent">24 mins</p>
                    </section>
                    <section class="animeRemainingLeftContentInfo">
                        <h3 class="animeRemainingLeftContentInfoTitle"><i>Source</i></h3>
                        <p class="animeRemainingLeftContentInfoContent">Manga</p>
                    </section>
                    <section class="animeRemainingLeftContentInfo">
                        <h3 class="animeRemainingLeftContentInfoTitle"><i>Genres</i></h3>
                        <p class="animeRemainingLeftContentInfoContent">&nbsp;&bull; Action</p>
                        <p class="animeRemainingLeftContentInfoContent">&nbsp;&bull; Drama</p>
                        <p class="animeRemainingLeftContentInfoContent">&nbsp;&bull; Supernatural</p>
                    </section>
                    <section class="animeRemainingLeftContentInfo">
                        <h3 class="animeRemainingLeftContentInfoTitle"><i>Studio</i></h3>
                        <p class="animeRemainingLeftContentInfoContent">MAPPA</p>
                    </section>
                    <section class="animeRemainingLeftContentInfo">
                        <h3 class="animeRemainingLeftContentInfoTitle"><i>Producers</i></h3>
                        <p class="animeRemainingLeftContentInfoContent">Toho</p>
                        <p class="animeRemainingLeftContentInfoContent">Shueisha</p>
                        <p class="animeRemainingLeftContentInfoContent">Sumzap</p>
                        <p class="animeRemainingLeftContentInfoContent">Mainichi Broadcasting System</p>
                    </section>
                </div>
                <div class="animeRemainingRightContent">
                    next...
                </div>
            </div>
        </div>
    </main>
{% endblock %}
