{% extends "base.html.twig" %}

{% block title %}
    Bad Request
{% endblock %}

{% block body %}
    <main class="homeContainer">
        <h1 class="title">Bad Request</h1>
        <p class="simpleText">The page you are searching does not exist</p>
    </main>
{% endblock %}