{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 class="homeTitle">Welcome Back "user"</h1>
    <main class="homeContainer">
        <section>
            <h2 class="homeSecondaryTitle">BEST THIS SEASON</h2>
            <section class="homeMultipleAnimes">
                <figure class="homeOneAnime">
                    <div class="homeOneAnimeImageInfo">
                        <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx145064-5fa4ZBbW4dqA.jpg" alt="Cover Image of Jujutsu Kaisen 2nd Season" class="homeOneAnimeImage">
                        <section class="homeHoverContent">
                            <p class="homeOneAnimeInfoTitle">Jujutsu Kaisen 2nd Season</p>
                            <p class="homeOneAnimeInfoSmallerInfos">23 episodes - TV</p>
                            <p class="homeOneAnimeInfoSmallerInfos">MAPPA</p>
                            <div class="homeOneAnimeInfoGenres">
                                <p class="homeOneAnimeInfoOneGenre">Action</p>
                                <p class="homeOneAnimeInfoOneGenre">Drama</p>
                                <p class="homeOneAnimeInfoOneGenre">Supernatural</p>
                            </div>
                        </section>
                    </div>
                    <figcaption class="homeOneAnimeTitle">Jujutsu Kaisen 2nd Season</figcaption>
                </figure>
                <figure>
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx145064-5fa4ZBbW4dqA.jpg" alt="Cover Image of Jujutsu Kaisen 2nd Season" class="homeOneAnimeImage">
                    <figcaption class="homeOneAnimeTitle">Jujutsu Kaisen 2nd Season</figcaption>
                </figure>
                <figure>
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx145064-5fa4ZBbW4dqA.jpg" alt="Cover Image of Jujutsu Kaisen 2nd Season" class="homeOneAnimeImage">
                    <figcaption class="homeOneAnimeTitle">Jujutsu Kaisen 2nd Season</figcaption>
                </figure>
                <figure>
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx145064-5fa4ZBbW4dqA.jpg" alt="Cover Image of Jujutsu Kaisen 2nd Season" class="homeOneAnimeImage">
                    <figcaption class="homeOneAnimeTitle">Jujutsu Kaisen 2nd Season</figcaption>
                </figure>
                <figure>
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx145064-5fa4ZBbW4dqA.jpg" alt="Cover Image of Jujutsu Kaisen 2nd Season" class="homeOneAnimeImage">
                    <figcaption class="homeOneAnimeTitle">Jujutsu Kaisen 2nd Season</figcaption>
                </figure>
                <figure>
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx145064-5fa4ZBbW4dqA.jpg" alt="Cover Image of Jujutsu Kaisen 2nd Season" class="homeOneAnimeImage">
                    <figcaption class="homeOneAnimeTitle">Jujutsu Kaisen 2nd Season</figcaption>
                </figure>
            </section>
        </section>
        <section>
            <h2 class="homeSecondaryTitle">NEXT SEASON</h2>
        </section>
        <section>
            <h2 class="homeSecondaryTitle">POPULAR</h2>
        </section>
        <section>
            <h2 class="homeSecondaryTitle">ADMIN SELECTION</h2>
        </section>
        <section>
            <h2 class="homeSecondaryTitle">TOP 10</h2>
        </section>
    </main>
{% endblock %}
