{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 class="homeTitle">Welcome Back "user"</h1>
    <main class="homeContainer">
        <section>
            <h2 class="homeSecondaryTitle">BEST THIS SEASON</h2>
        </section>
        <section>
            <h2 class="homeSecondaryTitle">NEXT SEASON</h2>
        </section>
        <section>
            <h2 class="homeSecondaryTitle">POPULAR</h2>
        </section>
        <section>
            <h2 class="homeSecondaryTitle">ADMIN SELECTION</h2>
        </section>
        <section>
            <h2 class="homeSecondaryTitle">TOP 10</h2>
        </section>
    </main>
{% endblock %}
