{% extends 'base.html.twig' %}

{% block title %}Satoru Gojou{% endblock %}

{% block body %}
    <main class="characterContainer">
        <div class="characterTopContainer">
            <div class="characterTopContent">
                <div class="characterTopLeftContainer">
                    <figure>
                        <img src="https://s4.anilist.co/file/anilistcdn/character/large/b127691-6m4hNwL2vLML.png" alt="Satoru Gojou" class="characterTopContentImage">
                    </figure>
                    <button class="animeButtonAddTo favorites">Add to your favorites</button>
                </div>
                <div class="characterTopContentCenterContainer">
                    <h1 class="characterTopContentCenterName">Satoru Gojou</h1>
                    <p class="characterTopContentTraitText">Age : <span class="characterTopContentTraitApi">28</span></p>
                    <p class="characterTopContentTraitText">Gender : <span class="characterTopContentTraitApi">Male</span></p>
                    <p class="characterTopContentRegularText">
                        __Height:__ >190 cm (6'3\")\n__Occupation:__ Jujutsu Sorcerer, Teacher\n__Affiliation:__ Tokyo Metropolitan Curse Technical College, Gojo Family\n__Grade:__ Special Grade Sorcerer\n__Cursed Technique:__ Six Eyes, Limitless\n\nSatoru Gojo is one of the main protagonists of the Jujutsu Kaisen series. He is a special-grade jujutsu sorcerer and is widely recognized as the strongest in the world. Satoru is the pride of the Gojo Family, the first person to inherit both the Limitless and the Six Eyes in four hundred years. He works as a teacher at the Tokyo Jujutsu High and uses his influence to protect and train strong young allies.\n\nManga Spoiler \n\n~!During the Shibuya incident, Gojo is led into a trap and is sealed in a box where he's incapable of doing anything and is later deemed a criminal by the higher-ups and exiled from the Jujutsu world, furthermore removing the seal on Gojo will be considered a criminal act no matter who does it.!~
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}