/* Contenu de toute la page d'un animé */
.animeContainer{
    display: flex;
    flex-direction: column;
}

/* Partie du haut (de la page d'un animé) */
.animeTopContainer{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1.5em 10%;
    display: flex;
    justify-content: center;
}

/* Contenu de la partie du haut (de la page d'un animé) */
.animeTopContent{
    width: 80%;
    margin: 1.5em 0;
    display: flex;
}

/* La partie gauche du contenu du haut (de la page d'un animé) */
.animeTopLeftContent{
    display: flex;
    flex-direction: column;
}
.animeTopLeftContent.settings{
    align-items: center;
}

/* L'image de l'animé (dans la partie gauche du contenu du haut de la page d'un animé) */
.animeImage{
    display: block;
    width: 200px;
    border-radius: 10px;
}

/* Les boutons (de la partie gauche du contenu du haut de la page d'un animé) */
/* (Utilisé dans la page description d'un personnage) */
.animeButtonAddTo{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-align: center;
    transition: all 0.25s ease;
}
.animeButtonAddTo:hover{
    transform: translateY(-2px);
    filter: saturate(150%);
}

/* Le bouton pour ajouter l'animé à sa liste (de la partie gauche du contenu du haut de la page d'un animé) */
.animeButtonAddTo.list{
    margin: 1em 0 0.5em 0;
    background-color: #00BFFF;
}

/* Le bouton pour ajouter l'animé à ses favoris (de la partie gauche du contenu du haut de la page d'un animé) */
.animeButtonAddTo.favorites{
    margin-top: 0.5em;
    background-color: #FF4136;
}

/* La partie droite du contenu du haut (de la page d'un animé) */
.animeTopRightContent{
    margin-left: 1.5em;
}

/* Le titre de l'animé (de la partie droite du contenu du haut de la page d'un animé) */
.animeTitle{
    font-size: 2em;
    font-weight: 600;
    color: #636363;
    margin-bottom: 0.75em;
}

/* Le titre de la description de l'animé (de la partie droite du contenu du haut de la page d'un animé) */
.animeSynopsisTitle{
    font-size: 1.5em;
    font-weight: 600;
    color: #333333;
    margin-bottom: 0.25em;
}

/* Le contenu de la description de l'animé (de la partie droite du contenu du haut de la page d'un animé) */
.animeSynopsisContent{
    font-size: 1.25em;
    font-weight: 500;
    color: #636363;
}

/* Partie restante (de la page d'un animé) */
.animeRemainingContainer{
    margin: 1em auto;
    width: 80%;
}

/* Contenu de la partie restante (de la page d'un animé) */
.animeRemainingContent{
    width: 80%;
    display: flex;
}

/* Contenu à gauche (de la partie restante de la page d'un animé) */
.animeRemainingLeftContent{
    min-width: 200px;
    height: fit-content;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 1em;
    margin-right: 1.5em;
}

/* Une information sur l'animé (dans la partie gauche de la partie restante de la page d'un animé) */
.animeRemainingLeftContentInfo{
    display: flex;
    flex-direction: column;
}
.animeRemainingLeftContentInfo:not(:first-child){
    margin-top: 1em;
}

/* Le titre de l'information sur l'animé (dans la partie gauche de la partie restante de la page d'un animé) */
.animeRemainingLeftContentInfoTitle{
    font-weight: 700;
    font-size: 1.25em;
    color: #333333;
    margin-bottom: 0.25em;
}

/* Le contenu de l'information sur l'animé (dans la partie gauche de la partie restante de la page d'un animé) */
.animeRemainingLeftContentInfoContent{
    font-weight: 400;
    font-size: 1.25em;
    color: #636363;
}

/* Contenu à droite (de la partie restante de la page d'un animé) */
.animeRemainingRightContent{
    margin-left: 1.5em;
}

/* Temps avant le prochain épisode (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentTimeBeforeEpisode{
    font-weight: 600;
    font-size: 1.5em;
    color: #333333;
    margin-bottom: 0.5em;
}

/* La partie qui contient le titre d'une partie */
.animeRemainingRightContentPartTitleContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.animeRemainingRightContentPartTitleContainer:not(:first-child){
    margin-top: 1em;
}

/* Titre d'une partie (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartTitle{
    font-weight: 600;
    font-size: 1.5em;
    color: #333333;
    margin-bottom: 0.5em;
}

/* Le texte qui permet de voir plus (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartMore{
    font-weight: 500;
    font-size: 1em;
    color: #333333;
    text-decoration: none;
    align-self: end;
}
.animeRemainingRightContentPartMore:hover{
    color: #00BFFF;
}

/* Le titre de la partie (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartTitle:not(:first-child){
    margin-top: 1em;
}
.animeRemainingRightContentPartTitle:last-of-type{
    margin-bottom: 0;
}

/* Partie qui contient des cartes (de la partie droite de la partie restante de la page d'un animé) */
/* (Utilisé dans la page des personnages d'un animé)*/
.animeRemainingRightContentPartCardsContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Contenu de la partie qui contient des cartes (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartCardsContent{
    height: 150px;
    margin-bottom: 1.5em;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-basis: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.25s ease;
}
.animeRemainingRightContentPartCardsContent.profile{
    height: 120px;
    width: 380px;
    display: flex;
    justify-content: space-between;
}
.animeRemainingRightContentPartCardsContent:hover{
    transform: translateY(-2px);
}

/* Image d'une carte (de la partie qui contient des cartes de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartCardsImage{
    border-radius: 10px;
    width: 100px;
    height: 150px;
}

/* Partie du texte d'une carte (de la partie qui contient des cartes de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartCardsTextContainer{
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Nom complet d'une carte (de la partie qui contient des cartes de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartCardsTop{
    font-weight: 500;
    font-size: 1.25em;
    color: #636363;
}
.animeRemainingRightContentPartCardsTop.profile{
    max-width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Rôle d'une carte (de la partie qui contient des cartes de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartCardsBottom{
    font-weight: 400;
    color: #636363;
}

/* Partie qui contient le nombre de commentaires d'une discussion d'une carte (de la partie qui contient des cartes de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartCardsCommentContainer{
    margin-top: 1em;
    margin-right: 1em;
}

/* Texte du nombre de commentaires d'une discussion d'une carte (de la partie qui contient des cartes de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartCardsCommentText{
    color: #636363;
}

/* Icône du nombre de commentaires d'une discussion d'une carte (de la partie qui contient des cartes de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartCardsCommentTextIcon{
    font-size: 1.25em;
}

/* Nombre de commentaires d'une discussion d'une carte (de la partie qui contient des cartes de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartCardsCommentTextNumber{
    font-weight: 400;
    font-size: 0.875em;
    vertical-align: text-top;
}

/* Partie qui permet de donner son opinion sur un animé (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartYourOpinionContainer{
    display: flex;
    flex-direction: column;
}

/* L'input pour donner son opinion sur un animé (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartYourOpinionInput{
    width: 100%;
    min-height: 10em;
    border-radius: 10px;
    padding: 1em;
    resize: vertical;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}
.animeRemainingRightContentPartYourOpinionInput::placeholder{
    font-style: italic;
}

/* L'input pour publier son opinion sur un animé (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartYourOpinionSubmit{
    align-self: end;
    margin-top: 1em;
    padding: 0.75em 1.5em;
    border: none;
    font-weight: 500;
    font-size: 1.25em;
    background-color: #4169E1;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
}
.animeRemainingRightContentPartYourOpinionSubmit:hover{
    transform: translateY(-2px);
    filter: saturate(150%);
}

/* Texte qui contient les filtres dans la partie qui contient les opinions sur l'animé (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartOpinionsFilter{
    width: fit-content;
    margin-left: auto;
    margin-bottom: 0.5em;
    font-weight: 500;
    font-size: 1em;
    color: #333333;
}

/* Un choix de filtre dans la partie qui contient les opinions sur l'animé (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartOpinionsFilterOption{
    cursor: pointer;
}

/* Partie qui contient les opinions sur l'animé (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartOpinionsContainer{
    display: flex;
    flex-direction: column;
}

/* Contenu de la partie qui contient les opinions sur l'animé (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartOpinionsContent{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 10px;
}

/* Partie du haut de la partie qui contient les opinions sur l'animé (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartOpinionsTopContent{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

/* Image de profil de l'utilisateur qui a donné son opinion sur l'animé (dans la partie du haut de la partie qui contient les commentaires sur l'animé de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartOpinionsProfilePicture{
    width: 40px;
    height: 40px;
}

/* Pseudo de l'utilisateur qui a donné son opinion sur l'animé (dans la partie du haut de la partie qui contient les commentaires sur l'animé de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartOpinionsPseudo{
    margin-left: 0.5em;
    font-weight: 500;
    font-size: 1.5em;
    color: #333333;
}

/* Temps de la publication de l'opinion sur l'animé (dans la partie du haut de la partie qui contient les commentaires sur l'animé de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartOpinionsPublicationTime{
    margin-left: auto;
    align-self: flex-start;
}

/* Partie du milieu de la partie qui contient une opinion sur l'animé (l'opinion) (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartOpinionsMidContent{
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* Partie du bas de la partie qui contient une opinion sur l'animé (icône) (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartOpinionsBottomContent{
    margin-top: 1em;
    align-self: end;
    font-size: 1.5em;
    color: #ff0000;
    cursor: pointer;
}

/* Le nombre de likes de la partie du bas de la partie qui contient une opinion sur l'animé (de la partie droite de la partie restante de la page d'un animé) */
.animeRemainingRightContentPartOpinionsLikesNumber{
    font-weight: 500;
    font-size: 1em;
    color: #ff0000;
}

/* Contenu de toute la page des personnages d'un animé */
.animeCharactersContainer{
    width: 80%;
    margin: 0 auto;
}

/* Titre de la page des personnages d'un animé */
.animeCharactersTitle{
    font-weight: 600;
    font-size: 2em;
    color: #636363;
    text-align: center;
    margin: 0.5em 0;
}

/* Pour mobile */
@media screen and (max-width: 767px){
    /* Partie du haut (de la page d'un animé) */
    .animeTopContainer{
        padding: 1.5em 2.5%;
    }

    /* La partie droite du contenu du haut (de la page d'un animé) */
    .animeTopRightContent{
        margin-left: 1em;
    }

    /* Partie restante (de la page d'un animé) */
    .animeRemainingContainer{
        width: 95%;
    }

    .animeRemainingRightContentPartCardsTop.profile{
        max-width: 200px;
        font-size: 1em;
    }
    
    /* Partie du bas d'une carte */
    .animeRemainingRightContentPartCardsBottom{
        font-size: 0.75em;
    }

    /* Texte du nombre de commentaires d'une discussion d'une carte */
    .animeRemainingRightContentPartCardsCommentText{
        font-size: 0.875em;
    }
}

/* Pour tablette */
@media screen and (min-width: 768px) and (max-width: 1024px){
    /* Partie du haut (de la page d'un animé) */
    .animeTopContainer{
        padding: 1.5em 5%;
    }

    /* La partie droite du contenu du haut (de la page d'un animé) */
    .animeTopRightContent{
        margin-left: 1.25em;
    }

    /* Partie restante (de la page d'un animé) */
    .animeRemainingContainer{
        width: 90%;
    }

    .animeRemainingRightContentPartCardsTop.profile{
        max-width: 550px;
    }
}

/* Pour tablette et mobile */
@media screen and (max-width: 1024px){
    .animeRemainingRightContentPartCardsContent.profile{
        width: 100%;
    }
}