/* Contenu de toute la page d'un animé */
.animeContainer{
    display: flex;
    flex-direction: column;
}

/* Partie du haut de la page d'un animé */
.animeTopContainer{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1.5em 10%;
    display: flex;
}
.dark .animeTopContainer{
    background-color: #3e3e42;
}

/* Contenu de la partie du haut de la page d'un animé */
.animeTopContent{
    width: 80%;
    margin: 1.5em 0;
    display: flex;
}

/* La partie gauche du contenu du haut de la page d'un animé */
.animeTopLeftContent{
    display: flex;
    flex-direction: column;
}
.animeTopLeftContent.settings{
    align-items: center;
}

/* L'image de l'animé */
.animeImage{
    display: block;
    width: 200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Les boutons d'ajout */
.animeButtonAddTo{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-align: center;
    transition: all 0.25s ease;
}
.animeButtonAddTo.dark{
    color: #e6edf3;
}
.animeButtonAddTo:hover{
    transform: translateY(-2px);
    filter: saturate(150%);
}
/* Le bouton pour ajouter l'animé à sa liste */
.animeButtonAddTo.list{
    margin: 1em 0 0.5em 0;
    background-color: #00BFFF;
}
.animeButtonAddTo.list.dark{
    background-color: #0099cc;
}
/* Le bouton pour ajouter l'animé à ses favoris */
.animeButtonAddTo.favorites{
    margin-top: 0.5em;
    background-color: #FF4136;
}
.animeButtonAddTo.favorites.dark{
    background-color: #b90a00;
}

/* La partie droite du contenu du haut de la page d'un animé */
.animeTopRightContent{
    margin-left: 1.5em;
}

/* Le titre de l'animé */
.animeTitle{
    font-size: 1.75em;
    font-weight: 600;
    color: #636363;
    margin-bottom: 0.5em;
}
.animeTitle.dark{
    color: #fff;
}

/* Le titre de la description de l'animé */
.animeSynopsisTitle{
    font-size: 1.25em;
    font-weight: 600;
    color: #333333;
    margin-bottom: 0.25em;
}
.animeSynopsisTitle.dark{
    color: #e6edf3;
}

/* Le contenu de la description de l'animé */
.animeSynopsisContent{
    color: #636363;
    overflow-wrap: anywhere;
}
.animeSynopsisContent.dark{
    color: #e6edf3;
}
.animeSynopsisContent a{
    color: #00BFFF;
}
.animeSynopsisContent.dark a{
    color: #0099cc;
}

/* Contenu de la partie restante de la page d'un animé */
.animeRemainingContainer{
    width: 80%;
    margin: 1.5em auto;
    display: flex;
}
.animeRemainingContainer.profile{
    display: block;
}

/* Contenu à gauche de la partie restante */
.animeRemainingLeftContent{
    min-width: 200px;
    height: fit-content;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 0 1em 1em 1em;
    margin-right: 1.5em;
}
.animeRemainingLeftContent.dark{
    background-color: #3e3e42;
}

/* Une information sur l'animé */
.animeRemainingLeftContentInfo{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

/* Le titre de l'information sur l'animé */
.animeRemainingLeftContentInfoTitle{
    font-weight: 700;
    font-size: 1.25em;
    color: #333333;
    margin-bottom: 0.25em;
}
.animeRemainingLeftContentInfoTitle.dark{
    color: #fff;
}

/* Le contenu de l'information sur l'animé */
.animeRemainingLeftContentInfoContent{
    font-weight: 400;
    color: #636363;
}
.animeRemainingLeftContentInfoContent.dark{
    color: #e6edf3;
}

/* Contenu à droite de la partie restante */
.animeRemainingRightContent{
    margin-left: 1.5em;
    width: 100%;
}

/* Temps avant le prochain épisode */
.animeRemainingRightContentTimeBeforeEpisode{
    font-weight: 600;
    font-size: 1.25em;
    color: #333333;
    margin-bottom: 1em;
}
.animeRemainingRightContentTimeBeforeEpisode.dark{
    color: #e6edf3;
}

/* La partie qui contient le titre d'une partie */
.animeRemainingRightContentPartTitleContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

/* Titre d'une partie */
.animeRemainingRightContentPartTitle{
    font-weight: 600;
    font-size: 1.5em;
    color: #333333;
    margin-bottom: 0.5em;
}
.animeRemainingRightContentPartTitle.dark{
    color: #e6edf3;
}

/* Le texte qui permet de voir plus (pour les personnages et staff) */
.animeRemainingRightContentPartMore{
    font-weight: 500;
    font-size: 1em;
    color: #333333;
    text-decoration: none;
    align-self: end;
}
.animeRemainingRightContentPartMore.dark{
    color: #e6edf3
}
.animeRemainingRightContentPartMore:hover{
    color: #00BFFF;
}
.animeRemainingRightContentPartMore.dark:hover{
    color: #0099cc;
}

/* Partie qui contient des cartes */
.animeRemainingRightContentPartCardsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 0 20px;
}

/* Contenu de la partie qui contient des cartes */
.animeRemainingRightContentPartCardsContent{
    height: 150px;
    margin-bottom: 1.5em;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.25s ease;
}
.animeRemainingRightContentPartCardsContent.dark{
    background-color: #3e3e42;
}
.animeRemainingRightContentPartCardsContent.profile, .animeRemainingRightContentPartCardsContent.talk{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.animeRemainingRightContentPartCardsContent.profile.dark{
    background-color: #1e1e1e;
}
.animeRemainingRightContentPartCardsContent:hover{
    transform: translateY(-2px);
}

/* Image d'une carte */
.animeRemainingRightContentPartCardsImage{
    border-radius: 10px;
    width: 100px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    object-fit: contain;
}

/* Partie du texte d'une carte */
.animeRemainingRightContentPartCardsTextContainer{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Nom complet d'une carte */
.animeRemainingRightContentPartCardsTop{
    font-weight: 500;
    font-size: 1.25em;
    color: #636363;
}
.animeRemainingRightContentPartCardsTop.dark{
    color: #e6edf3;
}
.animeRemainingRightContentPartCardsTop.profile, .animeRemainingRightContentPartCardsTop.anime{
    max-width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Rôle d'une carte */
.animeRemainingRightContentPartCardsBottom{
    font-weight: 400;
    color: #636363;
}
.animeRemainingRightContentPartCardsBottom.dark{
    color: #e6edf3;
}

/* Partie qui contient le nombre de commentaires d'une discussion */
.animeRemainingRightContentPartCardsCommentContainer{
    margin-top: 1em;
    margin-right: 1em;
}

/* Texte du nombre de commentaires et icône d'une discussion */
.animeRemainingRightContentPartCardsCommentText{
    color: #636363;
}
.animeRemainingRightContentPartCardsCommentText.dark{
    color: #e6edf3;
}

/* Icône du nombre de commentaires d'une discussion */
.animeRemainingRightContentPartCardsCommentTextIcon{
    font-size: 1.25em;
}

/* Nombre de commentaires d'une discussion */
.animeRemainingRightContentPartCardsCommentTextNumber{
    font-weight: 400;
    font-size: 0.875em;
    vertical-align: text-top;
}

/* Partie qui permet de donner son opinion sur un animé */
.animeRemainingRightContentPartYourOpinionContainer{
    display: flex;
    flex-direction: column;
}

/* L'input pour donner son opinion sur un animé */
.animeRemainingRightContentPartYourOpinionInput{
    width: 100%;
    min-height: 10em;
    border-radius: 10px;
    padding: 1em;
    resize: vertical;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}
.animeRemainingRightContentPartYourOpinionInput::placeholder{
    font-style: italic;
}

/* L'input (ici comme un bouton) pour publier son opinion sur un animé */
.animeRemainingRightContentPartYourOpinionSubmit{
    align-self: end;
    margin-top: 1em;
    padding: 0.75em 1.5em;
    border: none;
    font-weight: 500;
    font-size: 1em;
    background-color: #4169E1;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
}
.animeRemainingRightContentPartYourOpinionSubmit.dark{
    color: #e6edf3;
    background-color: #204ac8;
}
.animeRemainingRightContentPartYourOpinionSubmit:hover{
    transform: translateY(-2px);
    filter: saturate(150%);
}

/* Texte qui contient les filtres dans la partie qui contient les opinions sur l'animé */
.animeRemainingRightContentPartOpinionsFilter{
    width: fit-content;
    margin-left: auto;
    margin-bottom: 0.5em;
    font-weight: 500;
    font-size: 1em;
    color: #333333;
}
.animeRemainingRightContentPartOpinionsFilter.dark{
    color: #e6edf3;
}

/* Un choix de filtre dans la partie qui contient les opinions sur l'animé */
.animeRemainingRightContentPartOpinionsFilterOption{
    cursor: pointer;
}

/* Partie qui contient les opinions sur l'animé */
.animeRemainingRightContentPartOpinionsContainer{
    display: flex;
    flex-direction: column;
}

/* Contenu de la partie qui contient les opinions sur l'animé */
.animeRemainingRightContentPartOpinionsContent{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 10px;
}
.animeRemainingRightContentPartOpinionsContent.dark{
    background-color: #3e3e42;
}

/* Partie du haut de la partie qui contient une opinion sur l'animé */
.animeRemainingRightContentPartOpinionsTopContent{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

/* Image de profil de l'utilisateur qui a donné son opinion sur l'animé */
.animeRemainingRightContentPartOpinionsProfilePicture{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

/* Pseudo de l'utilisateur qui a donné son opinion sur l'animé */
.animeRemainingRightContentPartOpinionsPseudo{
    margin-left: 0.5em;
    font-weight: 500;
    font-size: 1.5em;
    max-width: 350px;
    color: #333333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.animeRemainingRightContentPartOpinionsPseudo.dark{
    color: #e6edf3;
}

/* Temps de la publication de l'opinion sur l'animé */
.animeRemainingRightContentPartOpinionsPublicationTime{
    margin-left: auto;
    align-self: flex-start;
    color: #333333;
}
.animeRemainingRightContentPartOpinionsPublicationTime.dark{
    color: #e6edf3;
}

/* L'opinion sur l'animé */
.animeRemainingRightContentPartOpinionsMidContent{
    color: #333333;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.animeRemainingRightContentPartOpinionsMidContent.dark{
    color: #e6edf3;
    background-color: #1e1e1e;
}

/* Partie des likes d'une opinion sur l'animé */
.animeRemainingRightContentPartOpinionsBottomContent{
    margin-top: 1em;
    align-self: end;
    font-size: 1.5em;
    color: #ff0000;
    cursor: pointer;
}
.animeRemainingRightContentPartOpinionsBottomContent.dark{
    color: #cc0000;
}

/* Le nombre de likes d'une opinion */
.animeRemainingRightContentPartOpinionsLikesNumber{
    font-weight: 500;
    font-size: 1em;
    color: #ff0000;
}
.animeRemainingRightContentPartOpinionsLikesNumber.dark{
    color: #cc0000;
}

/* Contenu de toute la page des personnages d'un animé */
.animeCharactersContainer{
    width: 80%;
    margin: 0 auto;
}

/* Titre de la page des personnages d'un animé */
.animeCharactersTitle{
    color: #636363;
    text-align: center;
    margin: 0.5em 0;
}
.animeCharactersTitle.dark{
    color: #e6edf3;
}

/* Un contenu considéré comme spoil */
.spoilerContent{
    display: none;
}
.spoilerContent.visible{
    display: block;
}

/* Le texte qui sert à afficher ou ne pas afficher un spoil */
.spoiler{
    color: #00BFFF;
    cursor: pointer;
    user-select: none;
}

/* Pour mobile */
@media screen and (max-width: 767px){
    /* Partie du haut de la page d'un animé */
    .animeTopContainer{
        flex-direction: column;
        padding: 1.5em 2.5%;
    }
    .animeTopContainer figure{
        margin: auto;
    }

    /* L'image de l'animé */
    .animeImage{
        width: 125px;
        margin: auto;
    }

    /* La partie droite du contenu du haut de la page d'un animé */
    .animeTopRightContent{
        margin-left: 1em;
        margin-top: 10px;
    }

    /* Le titre de l'animé */
    .animeTitle{
        font-size: 1.5em;
    }

    /* Contenu de la partie restante de la page d'un animé */
    .animeRemainingContainer{
        width: 95%;
    }

    /* Partie qui contient des cartes */
    .animeRemainingRightContentPartCardsContainer.talk.anime{
        grid-template-columns: none;
    }
    
    /* Contenu de la partie qui contient des cartes */
    .animeRemainingRightContentPartCardsContent{
        height: 120px;
    }
    
    /* Image d'une carte */
    .animeRemainingRightContentPartCardsImage{
        width: 80px;
        height: 120px;
    }

    /* Nom complet d'une carte */
    .animeRemainingRightContentPartCardsTop.anime{
        max-width: 210px;
        font-size: 1em;
    }
    .animeRemainingRightContentPartCardsTop.profile{
        max-width: 200px;
        font-size: 1em;
    }
    
    /* Rôle d'une carte */
    .animeRemainingRightContentPartCardsBottom{
        font-size: 0.8em;
    }

    /* Pseudo de l'utilisateur qui a donné son opinion sur l'animé */
    .animeRemainingRightContentPartOpinionsPseudo{
        max-width: 120px;
        font-size: 1em
    }

    /* Texte du nombre de commentaires d'une discussion */
    .animeRemainingRightContentPartCardsCommentText{
        font-size: 0.875em;
    }

    /* L'opinion sur l'animé */
    .animeRemainingRightContentPartOpinionsMidContent{
        font-size: 0.9em;
        padding: 0.75em;
    }

    /* Partie des likes d'une opinion sur l'animé */
    .animeRemainingRightContentPartOpinionsBottomContent{
        font-size: 1.25em;
    }

    /* Contenu de toute la page des personnages d'un animé */
    .animeCharactersContainer{
        width: 95%;
    }

    /* Titre de la page des personnages d'un animé */
    .animeCharactersTitle{
        font-size: 1.75em;
    }
}

/* Pour tablette */
@media screen and (min-width: 768px) and (max-width: 1024px){
    /* Partie du haut */
    .animeTopContainer{
        padding: 1.5em 5%;
    }

    /* L'image de l'animé */
    .animeImage{
        width: 175px;
    }

    /* La partie droite du contenu du haut de la page d'un animé */
    .animeTopRightContent{
        margin-left: 1.25em;
    }

    /* Le titre de l'animé */
    .animeTitle{
        font-size: 1.625em;
    }

    /* Contenu de la partie restante de la page d'un animé */
    .animeRemainingContainer{
        width: 90%;
    }

    /* Contenu de la partie qui contient des cartes */
    .animeRemainingRightContentPartCardsContent{
        height: 135px;
    }

    /* Image d'une carte */
    .animeRemainingRightContentPartCardsImage{
        width: 90px;
        height: 135px;
    }

    /* Nom complet d'une carte */
    .animeRemainingRightContentPartCardsTop.profile, .animeRemainingRightContentPartCardsTop.anime{
        max-width: 550px;
    }

    /* Pseudo de l'utilisateur qui a donné son opinion sur l'animé */
    .animeRemainingRightContentPartOpinionsPseudo{
        max-width: 500px;
        font-size: 1.25em
    }

    /* L'opinion sur l'animé */
    .animeRemainingRightContentPartOpinionsMidContent{
        font-size: 0.95em;
        padding: 0.875em;
    }

    /* Partie des likes d'une opinion sur l'animé */
    .animeRemainingRightContentPartOpinionsBottomContent{
        font-size: 1.375em;
    }

    /* Contenu de toute la page des personnages d'un animé */
    .animeCharactersContainer{
        width: 90%;
    }

    /* Titre de la page des personnages d'un animé */
    .animeCharactersTitle{
        font-size: 1.875em;
    }
}

/* Pour tablette et mobile */
@media screen and (max-width: 1024px){
    /* Contenu de la partie restante de la page d'un animé */
    .animeRemainingContainer{
        flex-direction: column;
    }

    /* Contenu à gauche de la partie restante */
    .animeRemainingLeftContent{
        width: auto;
        height: fit-content;
        overflow: scroll;
        display: flex;
        margin: 0 0 1em 0;
        padding: 1em 0;
    }

    /* Une information sur l'animé */
    .animeRemainingLeftContentInfo{
        margin: 0 1em;
    }

    /* Le titre de l'information sur l'animé */
    .animeRemainingLeftContentInfoTitle{
        width: max-content;
    }

    /* Le contenu de l'information sur l'animé */
    .animeRemainingLeftContentInfoContent{
        width: max-content;
    }

    /* Le texte d'une information sur l'animé */
    .animeRemainingLeftContentInfoContentContainer{
        display: flex;
    }

    /* Contenu à droite de la partie restante */
    .animeRemainingRightContent{
        margin-left: 0;
    }

    /* Contenu de la partie qui contient des cartes */
    .animeRemainingRightContentPartCardsContent.talk, .animeRemainingRightContentPartCardsContent.profile{
        width: 100%;
    }
}