/* La partie qui contient les boutons d'une liste d'animé */
.animeListButtonsContainer{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 0 10px;
    place-items: center;
}

/* Un bouton d'une liste d'animé */
.animeListButton{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #4169E1;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.animeListButton.active{
    background-color: #00BFFF;
}

/* La partie qui contient une liste d'animé */
.animeListContainer{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 80%;
    margin: 1em auto;
    padding: 1em;
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px 10px;
    justify-items: center;
}
.animeListContainer figure{
    width: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Les icônes de menu pour un animé */
.animeMenu{
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 35px;
    height: 35px;
    background-color: #00BFFF;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Les parties pour gérer le nombre d'épisodes vus */
.animeEpisodesWatchedContainer{
    position: absolute;
    top: 185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 150px;
    height: 28px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Les boutons d'ajout ou de substitution du nombre d'épisodes vu d'un animé */
.animeEpisodesWatchedControl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
.animeEpisodesWatchedControl.minus{
    background-color: #FF4136;
    margin-left: 8px;
}
.animeEpisodesWatchedControl.plus{
    background-color: #2ECC71;
    margin-right: 8px;
}

/* Les textes du nombre d'épisodes vu d'un animé */
.animeEpisodesWatched{
    font-weight: 500;
    color: #fff;
    margin: auto;
}

/* L'image d'un animé dans la liste */
.animeListAnimeImage{
    width: 150px;
    height: 212px;
    border-radius: 10px;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Le conteneur de la page de modification d'un élement de la liste d'animé d'un utilisateur */
.animeListModifyContainer{
    background-color: #fff;
    width: 80%;
    display: flex;
    margin: 1em auto !important;
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.animeListModifyContainer figure{
    width: min-content;
}
.animeListModifyContainer button{
    width: 100%;
}

/* Le formulaire de la page de modification d'un élement de la liste d'animé d'un utilisateur */
.animeListModifyForm{
    width: 100%;
    margin-left: 1em;
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    gap: 10px 10px;
}

.securityFormRow.animeList input[type="date"], .securityFormRow.animeList select, .securityFormRow.animeList input[type="number"]{
    width: 100%;
    height: 44px;
}
.securityFormRow.animeList select, .securityFormRow.animeList input[type="number"]{
    border-radius: 10px;
    border: 1px solid #B4B4B4;
    padding: 0 10px;
}
.securityFormRow.animeList button{
    height: 50px;
    margin: 0;
    box-shadow: none;
}

/* Le bouton de suppression d'un animé de sa liste */
.animeButtonAddTo.delete{
    margin-top: 1.5em;
    background-color: #FF4136;
    height: 44px;
    align-self: center;
    font-weight: 600;
    display: grid;
    place-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Pour mobile */
@media screen and (max-width: 767px){
    /* La partie qui contient les boutons d'une liste d'animé */
    .animeListButtonsContainer{
        width: 95%;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        grid-gap: 10px 5px;
    }

    /* La partie qui contient une liste d'animé */
    .animeListContainer{
        width: 95%;
        grid-gap: 10px 5px;
    }

    /* Le conteneur de la page de modification d'un élement de la liste d'animé d'un utilisateur */
    .animeListModifyContainer{
        width: 95%;
        padding: 0.5em;
    }

    /* Le formulaire de la page de modification d'un élement de la liste d'animé d'un utilisateur */
    .animeListModifyForm{
        margin-left: 0.5em;
        grid-template-columns: repeat(1, minmax(150px, 1fr));
        grid-gap: 0 5px;
    }
}

/* Pour tablette */
@media screen and (min-width: 768px) and (max-width: 1024px){
    /* La partie qui contient les boutons d'une liste d'animé */
    .animeListButtonsContainer{
        width: 90%;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-gap: 10px 10px;
    }

    /* La partie qui contient une liste d'animé */
    .animeListContainer{
        width: 90%;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }

    /* Le conteneur de la page de modification d'un élement de la liste d'animé d'un utilisateur */
    .animeListModifyContainer{
        width: 90%;
        padding: 0.75em;
    }

    /* Le formulaire de la page de modification d'un élement de la liste d'animé d'un utilisateur */
    .animeListModifyForm{
        margin-left: 0.75em;
        grid-template-columns: repeat(2, minmax(230px, 1fr));
    }
}

/* Pour tablette et mobile */
@media screen and (max-width: 1024px){
    /* La partie qui contient une liste d'animé */
    .animeListContainer{
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }

    /* Les parties pour gérer le nombre d'épisodes vus */
    .animeEpisodesWatchedContainer{
        top: 170px;
        width: 140px;
    }

    /* L'image d'un animé dans la liste */
    .animeListAnimeImage{
        width: 140px;
        height: 198px;
    }
}