/* La partie qui contient le titre et les liens d'un évènement */
.eventContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* La partie qui contient le titre de l'évènement */
.eventTitleContainer{
    flex: 1;
}

#calendar{
    width: 90%;
    height: 80vh;
    margin: auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1em;
    border-radius: 10px;
}