/* Caractéristiques du personnage (centre du haut de la page d'un personnage) */
.characterTopContentTraitText{
    font-weight: 600;
    color: #333333;
    margin-bottom: 0.25em;
}
.characterTopContentTraitText.dark{
    color: #e6edf3;
}

/* Partie qui contient le reste de la page */
.characterRemainingContainer{
    width: 80%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}

/* Le titre d'une partie restante de la page */
.characterPartTitle{
    color: #333333;
}
.characterPartTitle.dark{
    color: #e6edf3;
}

/* Image du doubleur (japonais) du personnage dans un animé */
.characterRemainingVoiceActorImage{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 70px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* Pour mobile */
@media screen and (max-width: 767px){
    /* Image du doubleur (japonais) du personnage dans un animé */
    .characterRemainingVoiceActorImage{
        width: 50px;   
    }
}

/* Pour tablette */
@media screen and (min-width: 768px) and (max-width: 1024px){
    /* Image du doubleur (japonais) du personnage dans un animé */
    .characterRemainingVoiceActorImage{
        width: 60px;   
    }
}