/* Partie qui contient toute la page d'un personnage */
.characterContainer{
    display: flex;
    flex-direction: column;
}

/* Partie qui contient le haut de la page d'un personnage */
.characterTopContainer{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 10px -20px;
}

/* Contenu du haut de la page d'un personnage */
.characterTopContent{
    margin: 1em auto;
    display: flex;
    align-items: flex-start;
    width: 80%;
}

.characterTopLeftContainer{
    display: flex;
    flex-direction: column;
}

/* Image du personnage (du haut de la page d'un personnage) */
.characterTopContentImage{
    display: block;
    width: 200px;
    border-radius: 10px;
}

/* Partie du centre (du haut de la page d'un personnage) */
.characterTopContentCenterContainer{
    margin-left: 3em;
}

/* Titre d'un partie */
.characterPartTitle{
    font-weight: 600;
    font-size: 2em;
    color: #636363;
    margin-bottom: 0.5em;
}

/* Caractéristiques du personnage (centre du haut de la page d'un personnage) */
.characterTopContentTraitText{
    font-weight: 600;
    color: #333333;
    margin-bottom: 0.25em;
}

/* Caractéristiques du personnage venant de l'API (centre du haut de la page d'un personnage) */
.characterTopContentTraitApi{
    font-weight: normal;
}

/* Description du personnage (centre du haut de la page d'un personnage) */
.characterTopContentRegularText{
    font-weight: 400;
    color: #333333;
}

/* Partie qui contient le reste de la page */
.characterRemainingContainer{
    width: 80%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}

/* Partie qui contient les animés dans lequel le personnage apparaît */
.characterMultipleAnimes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Partie qui contient un doubleur (japonais) du personnage dans un animé */
.characterRemainingVoiceActorContainer{
    display: flex;
    align-items: center;
}
.characterRemainingVoiceActorContainer.roles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Image du doubleur (japonais) du personnage dans un animé */
.characterRemainingVoiceActorImage{
    width: 50px;
    border-radius: 10px;
}

/* Nom du doubleur (japonais) du personnage dans un animé */
.characterRemainingVoiceActorName{
    font-weight: 600;
    font-size: 1.25em;
    margin-left: 0.25em;
}