*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #F5F5F5;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}

/* Les messages flashs */
.flashMessage{
    color: #fff;
    width: 300px;
    position: fixed;
    z-index: 999;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.6em;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 5s;
    opacity: 0;
    pointer-events: none;
}

/* Les messages de succès */
.flashMessage-success{
    background-color: #4bb543;
}

/* Les messages d'erreurs */
.flashMessage-error{
    background-color: #cc0000;
}

/* Création d'une animation de fade in */
@keyframes fadeIn{
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

/* Le contenu complet de la barre de navigation */
.navBarContainer{
    position: relative;
    height: 50px;
    background-color: #48466D;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* L'élement qui ouvre la barre de navigation */
.responsiveNavBarOpen{
    z-index: 2;
    display: none;
    background-color: #4169E1;
    margin-left: 0.25em;
    width: 40px;
    height: 40px;
    font-size: 2em;
    border-radius: 10px;
    place-items: center;
    cursor: pointer;
}

/* Le contenu de la barre de navigation */
.navBarContent{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* La barre de navigation */
.navBar{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

/* Un élément de la liste de la barre de navigation */
.navBarElement{
    height: 100%;
    width: 8em;
}
.navBarElement:hover{
    background-color: #4169E1;
}

/* Le lien a l'intérieur d'un élément de la liste */
.navBarElementLink{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Un élément de la liste de la barre de navigation qui est un menu déroulant */
.navBarElementDropdown{
    height: 100%;
    width: 8em;
    position: relative;
}
.navBarElementDropdown:hover{
    background-color: #4169E1;
}
.navBarElementDropdown:hover .navBarElementDropdownContent{
    display: block;
}

/* Le bouton de la barre de navigation qui servira à ouvrir le menu déroulant */
.navBarElementDropdownButton{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

/* Le contenu du menu déroulant */
.navBarElementDropdownContent{
    display: none;
    position: absolute;
    text-align: center;
    background-color: #4169E1;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    list-style-type: none;
}

/* Un lien du menu déroulant */
.navBarElementDropdownLink{
    height: 2.5em;
}
.navBarElementDropdownLink:hover{
    background-color: #00BFFF;
}

/* Le dernier lien du menu déroulant */
.navBarElementDropdownLink.last{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* La partie de profil (partie droite de la barre de navigation) */
.navBarProfile{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* Le contenu de la partie en haut à droite de la page pour accéder au profil */
.navBarProfileContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    margin-right: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s ease;
}
.navBarProfileContainer:hover{
    background-color: rgba(211, 211, 211, 0.2);
}

/* Le pseudo de l'utilisateur connecté */
.navBarProfilePseudo{
    font-weight: 600;
    font-size: 1em;
    color: #fff;
    margin: 0 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
}

/* L'image de profil de l'utilisateur connecté */
.navBarProfilePicture{
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

/* Un bouton de connexion/inscription */
.navBarButton{
    display: grid;
    place-items: center;
    padding: 0.5em 0;
    width: 110px;
    background-color: #00BFFF;
    font-weight: 600;
    font-size: 1em;
    color: #fff;
    border-radius: 10px;
    transition: all 0.25s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.navBarButton:last-child{
    margin: 0 0.5em;
}
.navBarButton:hover{
    transform: translateY(-2px);
    filter: saturate(150%);
}

/* Le menu pour un utilisateur connecté */
.navBarUserMenu{
    z-index: 999;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1em;
    background-color: #48466D;
    transition: all 0.5s ease;
}
.navBarUserMenu.visible{
    right: 0;
}

/* Le haut du menu pour un utilisateur connecté */
.navBarUserMenuTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    margin-bottom: 0.25em;
    border-bottom: 1px solid #fff;
}

/* Le signe qui sert à fermer le menu d'un utilisateur */
.navBarUserMenuClose{
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s ease;
}
.navBarUserMenuClose:hover{
    background-color: rgba(211, 211, 211, 0.2);
}

/* Un lien dans le menu d'un utilisateur */
.navBarUserMenuLink{
    border-radius: 5px;
}
.navBarUserMenuLink a{
    display: block;
    padding: 1em;
    width: 100%;
    height: 100%;
}
.navBarUserMenuLink:hover{
    background-color: rgba(211, 211, 211, 0.2);
}
.navBarUserMenuLink .fa-regular, .navBarUserMenuLink .fa-solid{
    width: 16px;
    margin-right: 0.5em;
}

/* Le bouton vers le panel d'admin (partie gauche de la barre de navigation) */
.navBarAdmin{
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    background-color: #D32F2F;
    margin: 0 1em;
    padding: 0.5em 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    color: #fff;
    transition: all 0.25s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.navBarAdmin:hover{
    transform: translateY(-2px);
    filter: saturate(150%);
}

/* Le background quand le menu de l'utilisateur est ouvert */
.navBarUserMenuOverlay{
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.navBarUserMenuOverlay.visible{
    display: block;
}

/* Quand la barre de navigation est ouverte, on empèche de scroll */
.navBarNotScroll{
    overflow: hidden;
}

/* Les liens que l'on veut de couleur bleu */
.coloredLink{
    color: #00BFFF;
}

/* Pour tablette et mobile */
@media screen and (max-width: 1024px){
    /* L'élement qui ouvre la barre de navigation */
    .responsiveNavBarOpen{
        display: grid;
    }
    
    /* La barre de navigation */
    .navBar{
        margin-left: -110%;
        transition: all 0.5s ease;
    }

    /* Le contenu de la barre de navigation */
    .navBarContent{
        z-index: 1;
        background-color: #48466D;
        position: absolute;
        top: 0;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        margin-left: -100%;
        padding-top: 50px;
        transition: all 0.5s ease;
    }
    .navBar.navBarOpen, .navBarContent.navBarOpen{
        margin-left: 0;
    }
    
    /* L'élément qui ouvre le menu dropdown */
    .navBarElement, .navBarElementDropdown{
        height: 10vh;
        width: 100vw;
    }

    /* Les éléments du menu dropdown */
    .navBarElementDropdownContent li, .navBarElementDropdown a{
        height: 10vh;
    }
}