*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #F5F5F5;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

/* Le contenu complet de la barre de navigation */
.navBarContainer{
    position: relative;
    height: 4em;
    background-color: #48466D;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Le bouton vers le panel d'admin (partie gauche de la barre de navigation) */
.navBarAdmin{
    position: absolute;
    width: 200px;
    background-color: #D32F2F;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.25em;
    margin-left: 1em;
    text-align: center;
    color: #fff;
    z-index: 1;
    transition: all 0.25s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.navBarAdmin:hover{
    transform: translateY(-2px);
    filter: saturate(150%);
}

.navBarContent{
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarNoAdmin{
    width: 200px;
    margin-left: 1em;
}

/* Barre de navigation */
.navBar{
    position: absolute;
    left: 0;
    right: 0;
}

/* Un élément de la liste de la barre de navigation */
.navBarElement{
    height: 100%;
    width: 10em;
}
.navBarElement:hover{
    background-color: #4169E1;
}

/* Le lien a l'intérieur d'un élément de la liste */
.navBarElementLink{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Un élément de la liste de la barre de navigation qui est un menu déroulant */
.navBarElementDropdown{
    height: 100%;
    width: 10em;
    position: relative;
}
.navBarElementDropdown:hover{
    background-color: #4169E1;
}
.navBarElementDropdown:hover .navBarElementDropdownContent{
    display: block;
}

/* Le bouton de la barre de navigation qui servira à ouvrir le menu déroulant */
.navBarElementDropdownButton{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    cursor: pointer;
}

/* Le contenu du menu déroulant */
.navBarElementDropdownContent{
    display: none;
    position: absolute;
    text-align: center;
    background-color: #4169E1;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    list-style-type: none;
}

/* Un lien du menu déroulant */
.navBarElementDropdownLink{
    height: 2.5em;
}
.navBarElementDropdownLink:hover{
    background-color: #00BFFF;
}

/* Le dernier lien du menu déroulant */
.navBarElementDropdownLink.last{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Les boutons de connexion/inscription */
.navBarButtons{
    display: flex;
}

/* Un bouton de connexion/inscription */
.navBarButton{
    display: grid;
    place-items: center;
    height: 43px;
    width: 131px;
    background-color: #00BFFF;
    font-weight: 600;
    font-size: 1.25em;
    color: #fff;
    margin: 0 0.5em;
    border-radius: 10px;
    transition: all 0.25s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.navBarButton:hover{
    transform: translateY(-2px);
    filter: saturate(150%);
}


/* La partie de profile (partie droite de la barre de navigation) */
.navBarProfile{
    position: absolute;
    right: 0;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
}

/* Le contenu de la partie en haut à droite de la page pour accéder au profil */
.navBarProfileContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    border-radius: 5px;
    transition: all 0.25s ease;
}
.navBarProfileContainer:hover{
    background-color: rgba(211, 211, 211, 0.2);
}

/* Le pseudo de l'utilisateur connecté */
.navBarProfilePseudo{
    font-weight: 600;
    font-size: 1em;
    font-style: italic;
    color: #fff;
    margin-right: 0.5em;
}

/* L'image de profil de l'utilisateur connecté */
.navBarProfilePicture{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}