*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Barre de navigation */
.navBar{
    height: 4em;
    background-color: #48466D;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

/* Un élément de la liste de la barre de navigation */
.navBarElement{
    height: 100%;
    width: 10em;
}
.navBarElement:hover{
    background-color: #4169E1;
}

/* Le lien a l'intérieur d'un élément de la liste */
.navBarElementLink{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Un élément de la liste de la barre de navigation qui est un menu déroulant */
.navBarElementDropdown{
    height: 100%;
    width: 10em;
    position: relative;
}
.navBarElementDropdown:hover{
    background-color: #4169E1;
}
.navBarElementDropdown:hover .navBarElementDropdownContent{
    display: block;
}

/* Le bouton de la barre de navigation qui servira à ouvrir le menu déroulant */
.navBarElementDropdownButton{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    cursor: pointer;
}

/* Le contenu du menu déroulant */
.navBarElementDropdownContent{
    display: none;
    position: absolute;
    text-align: center;
    background-color: #4169E1;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Un lien du menu déroulant */
.navBarElementDropdownLink{
    height: 2.5em;
}
.navBarElementDropdownLink:hover{
    background-color: #00BFFF;
}

/* Le dernier lien du menu déroulant */
.navBarElementDropdownLink.last{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}