/* Titre de la page d'accueil */
.homeTitle{
    text-align: center;
    color: #333;
}

/* Contenu de toute la page */
.homeContainer{
    width: 80%;
    margin: auto;
}

/* Les titres secondaires */
.homeSecondaryTitle{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 600;
    color: #333;
}

/* Liste des animé d'une section */
.homeMultipleAnimes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  */
.homeOneAnime:hover .homeHoverContent{
    opacity: 1;
    top: 0;
}

/* Partie qui contient les images et les informations supplémentaires lorsqu'on hover l'image */
.homeOneAnimeImageInfo{
    position: relative;
}

/* Une image d'un animé */
.homeOneAnimeImage{
    max-width: 100%;
    border-radius: 10px;
    display: block;
}

/* Partie qui contient des informations supplémentaires d'un animé lorsqu'on hover l'image */
.homeHoverContent{
    position: absolute;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.70);
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0.75em;
    color: #fff;
    opacity: 0;
    transition: all 0.5s ease;
}

/* Titre de l'animé dans la partie des informations supplémentaires */
.homeOneAnimeInfoTitle{
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
}

/* Informations de plus petite taille de l'animé dans la partie des informations supplémentaires */
.homeOneAnimeInfoSmallerInfos{
    font-size: 0.875em;
    font-weight: 500;
    text-align: center;
    font-style: italic;
}

/* Partie qui contient les genres de l'animé dans la partie des informations supplémentaires */
.homeOneAnimeInfoGenres{
    position: absolute;
    bottom: 0;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Un genre de l'animé dans la partie des informations supplémentaires */
.homeOneAnimeInfoOneGenre{
    background-color: #5d86e4;
    width: fit-content;
    border-radius: 10px;
    padding: 0.4em;
    margin: 0.25em 0.2em;
    font-size: 0.875em;
    font-weight: 500;
}

/* Le titre de l'animé en dessous de l'image de l'animé */
.homeOneAnimeTitle{
    max-width: 230px;
    text-align: center;
    padding: 5px;
    color: #333;
    font-weight: 600;
}