/* L'image de profil de l'utilisateur */
.profileImage{
    width: 200px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
}

/* Le pseudo de l'utilisateur */
.profilePseudo{
    font-weight: 600;
    font-size: 2em;
    color: #333333;
    margin-bottom: 0.25em;
}

/* La description de l'utilisateur */
.profileDescription{
    font-weight: 400;
    font-size: 1.25em;
    color: #333333;
}

/* La partie restante de la page d'un utilisateur */
.profileRemainingContent{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.profileInfosLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

/* La partie des infos de l'utilisateur */
.profileInfos{
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
}

/* Le titre d'une partie des infos de l'utilisateur */
.profileInfosTitle{
    font-weight: 600;
    font-size: 1.5em;
    font-style: italic;
    color: #333333;
    margin-bottom: 0.5em;
}

/* La ligne d'une info de l'utilisateur */
.profileInfo{
    font-weight: 400;
    font-size: 1em;
    color: #333333;
}

/* Le titre d'une info de l'utilisateur */
.profileInfoTitle{
    font-weight: 500;
}

/* Un bouton de la page de profil */
.profileInfosButton{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 280px;
    height: 45px;
    font-weight: 700;
    font-size: 1.25em;
    margin: 0.5em 0;
    color: #fff;
    background-color: #00BFFF;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.profileInfosButton:hover{
    transform: translateY(-2px);
    filter: saturate(150%);
}

/* La partie des animes favoris d'un utilisateur */
.profileInfosFavoritesAnimes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 0px 20px;
    justify-items: center;
}

/* La partie des personnages favoris d'un utilisateur */
.profileInfosFavoritesCharacters{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    grid-gap: 15px 20px;
    justify-items: center;
}

/* La partie d'un personnage favori */
.favoriteCharacter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* L'image d'un personnage favori */
.favoriteCharacterImage{
    width: 100px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* La partie des discussions auquel un utilisateur a participé */
.profileInfosTalks{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    justify-items: center;
}

/* Le lien qui sert à changer de pseudo */
.settingsChangePseudo{
    color: #00BFFF;
}
.settingsChangePseudo:hover{
    filter: saturate(150%);
}