/* L'image de profil de l'utilisateur */
.profileImage{
    width: 175px;
    height: 175px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
}

/* Le pseudo de l'utilisateur */
.profilePseudo{
    font-weight: 600;
    font-size: 1.75em;
    color: #333333;
    margin-bottom: 0.2em;
}
.dark .profilePseudo{
    color: #e6edf3;
}

/* La description de l'utilisateur */
.profileDescription{
    font-weight: 400;
    font-size: 1em;
    color: #333333;
}
.dark .profileDescription{
    color: #e6edf3;
}

/* La partie restante de la page d'un utilisateur */
.profileRemainingContent{
    width: 80%;
    display: flex;
    flex-direction: column;
}

/* La ligne d'infos de la page d'un utilisateur */
.profileInfosLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* La partie des infos de l'utilisateur */
.profileInfos{
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
}
.dark .profileInfos{
    background-color: #3e3e42;
}
.profileInfos.settings{
    padding: 0 1.5em;
}
.profileInfos.chart{
    justify-content: center;
    align-items: center;
}
#myChart{
    width: 300px;
}

/* Le titre d'une partie des infos de l'utilisateur */
.profileInfosTitle{
    font-weight: 600;
    font-size: 1.25em;
    color: #333333;
    margin-bottom: 0.5em;
}
.dark .profileInfosTitle{
    color: #e6edf3;
}

/* Le titre d'une info de l'utilisateur */
.profileInfoTitle{
    font-weight: 500;
}

/* Un bouton de la page de profil */
.profileInfosButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    font-weight: 700;
    margin: 0.3em 0;
    padding: 0.5em 0;
    color: #fff;
    background-color: #00BFFF;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.dark .profileInfosButton{
    color: #e6edf3;
    background-color: #0099cc;
}
.profileInfosButton:hover{
    transform: translateY(-2px);
    filter: saturate(150%);
}
/* Les bouton dans les options */
.profileInfosButton.settings{
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}
.profileInfosButton.settings.large{
    width: 200px;
}
.profileInfosButton.settings.medium{
    width: 175px;
}
.profileInfosButton.settings.full{
    width: 100%;
}
.profileInfosButton.settings.fit{
    width: fit-content;
    padding: 0.5em 1em;
}
.profileInfosButton.talks{
    position: fixed;
    top: 60px;
    right: 10px;
    width: 100px;
}
.profileInfosButton.addPost{
    display: inline-flex;
    width: fit-content;
    padding: 0.5em 0.7em;
    margin: 0;
    font-size: 0.8em;
}
.profileInfosButton.pagination{
    margin: 1em 0.5em;
}

/* La partie des animes favoris d'un utilisateur */
.profileInfosFavoritesAnimes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 0px 20px;
    justify-items: center;
}

/* La partie des personnages favoris d'un utilisateur */
.profileInfosFavoritesCharacters{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px 20px;
    justify-items: center;
}

/* La partie d'un personnage favori */
.favoriteCharacter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
}

/* L'image d'un personnage favori */
.favoriteCharacterImage{
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* La partie des discussions auquel un utilisateur a participé */
.profileInfosTalks, .animeRemainingRightContentPartCardsContainer.talk{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    justify-items: center;
    grid-gap: 0 10px;
}

/* Le lien qui sert à changer de pseudo */
.settingsChangePseudo{
    color: #00BFFF !important;
}
.dark .settingsChangePseudo{
    color: #0099cc !important;
}
.settingsChangePseudo:hover{
    filter: saturate(150%);
}

/* Une partie de paramètre */
.settingsOne{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

/* Les titres de paramètres */
.settingsTitle{
    font-weight: 600;
    font-size: 1.25em;
    color: #333333;
    margin-left: 0.25em;
    margin-bottom: 0.25em;
}
.dark .settingsTitle{
    color: #e6edf3;
}

/* Paramètre du thème */
.settingsThemes{
    display: flex;
}

/* Un choix de thème */
.settingsTheme{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.25em;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    user-select: none;
}
.settingsTheme.light{
    color: #333333;
    background-color: #fff;
}
.settingsTheme.dark{
    color: #E6EDF3;
    background-color: #1E1E1E;
    margin-left: 1em;
}

/* Le bouton du thème actuel */
.selectedTheme{
    border: 2px solid #00BFFF;
    pointer-events: none;
    
}

/* Un texte classique dans les paramètres */
.settingsNormalText{
    color: #333333;
}
.dark .settingsNormalText{
    color: #e6edf3;
}

/* Un text semi bold dans les paramètres */
.settingsSemiBoldText{
    font-weight: 600;
}

/* Pour mobile */
@media screen and (max-width: 767px){
    /* L'image de profil de l'utilisateur */
    .profileImage{
        width: 100px;
        height: 100px;
    }

    /* Le pseudo de l'utilisateur */
    .profilePseudo{
        font-size: 1.5em;
    }

    /* La partie des personnages favoris d'un utilisateur */
    .profileInfosFavoritesCharacters{
        grid-gap: 5px 10px;
    }

    /* Un bouton de la page des paramètres de la page de profil */
    .profileInfosButton.settings.large{
        width: 188px;
    }
    .profileInfosButton.settings.medium{
        width: 100px;
    }
    .profileInfosButton.talks{
        top: 90px;
    }
    .profileInfosButton.addPost{
        display: flex;
        margin-top: 3px;
    }

    /* La partie des infos de l'utilisateur */
    .profileInfos.settings{
        padding: 0 1em;
    }
}

/* Pour tablette */
@media screen and (min-width: 768px) and (max-width: 1024px){
    /* L'image de profil de l'utilisateur */
    .profileImage{
        width: 137.5px;
        height: 137.5px;
    }

    /* Le pseudo de l'utilisateur */
    .profilePseudo{
        font-size: 1.625em;
    }

    /* La partie des personnages favoris d'un utilisateur */
    .profileInfosFavoritesCharacters{
        grid-gap: 5px 15px;
    }

    /* Un bouton de la page des paramètres de la page de profil */
    .profileInfosButton.settings.medium{
        width: 137.5px;
    }

    /* La partie des infos de l'utilisateur */
    .profileInfos.settings{
        padding: 0 1.25em;
    }
}

/* Pour tablette et mobile */
@media screen and (max-width: 1024px) {
    /* La ligne d'infos de la page d'un utilisateur */
    .profileInfosLine{
        flex-direction: column;
        align-items: unset;
    }

    /* Les infos de profil qui contient des boutons */
    .profileInfos.buttons{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    /* La partie des discussions auquel un utilisateur a participé */
    .profileInfosTalks, .animeRemainingRightContentPartCardsContainer.talk{
        grid-template-columns: none;
    }
}