/* Le conteneur des formulaires liés à la sécurité */
.securityFormContainer{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.securityFormContainer form{
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 20px;
}

/* Le titre des formulaires liés à la sécurité */
.securityFormTitle{
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
    color: #333333;
    margin-bottom: 20px;
}

/* Une ligne (label + input) des formulaires liés à la sécurité */
.securityFormRow{
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
}
.securityFormRow label{
    font-weight: 600;
    font-size: 1em;
    color: #333333;
    margin-bottom: 0.3em;
}
.securityFormRow input[type="text"], .securityFormRow input[type="email"], .securityFormRow input[type="date"], .securityFormRow input[type="password"]{
    height: 44px;
    border-radius: 10px;
    border: 1px solid #B4B4B4;
    padding: 0 10px;
}
.securityFormRow input[type="date"]{
    width: 150px;
    text-align: center;
}
.securityFormRow input[type="file"]{
    cursor: pointer;
    width: fit-content;
    height: 46px;
}
.securityFormRow input[type="file"]::file-selector-button{
    width: 150px;
    height: 44px;
    border: none;
    font-weight: 600;
    font-size: 1em;
    color: #fff;
    background-color: #00BFFF;
    border-radius: 20px;
    cursor: pointer;
}
.securityFormRow textarea{
    resize: vertical;
    min-height: 100px;
    max-height: 500px;
    border-radius: 10px;
    border: 1px solid #B4B4B4;
    padding: 10px;
}

/* Une ligne qui contient les terms of use */
.securityFormRowTerms{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5em;
}
.securityFormRowTerms label{
    font-weight: 600;
    font-size: 1em;
    color: #333333;
    margin-left: 1em;
}
.securityFormRowTerms input[type="checkbox"]{
    width: 30px;
    height: 30px;
    border: 1px solid #B4B4B4;
}

/* Le bouton de submit des formulaires liés à la sécurité */
.securityFormSubmitButton{
    align-self: center;
    width: 150px;
    height: 44px;
    margin-top: 1.5em;
    border: none;
    font-weight: 600;
    font-size: 1em;
    color: #fff;
    background-color: #00BFFF;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.securityFormSubmitButton:hover{
    transform: translateY(-2px);
    filter: saturate(150%);
}
.securityFormSubmitButton.large{
    width: 200px;
}

/* Texte de lien en dessous du bouton de submit */
.securityFormLinkEnd{
    font-weight: 400;
    font-size: 0.875em;
    color: #636363;
    margin-top: 1em;
    align-self: flex-end;
}
.securityFormLinkEnd:hover{
    text-decoration: underline;
}

/* Les textes de liens en dessous du bouton de submit */
.securityFormLinksEnd{
    display: flex;
    justify-content: space-between;
}