/* Titre des pages de discussions */
.title.talks{
    margin: 0;
}

/* Le conteneur d'une discussion */
.oneTalkContainer{
    width: 80%;
    height: 150px;
    margin: 0 auto 1em auto;
    background-color: #fff;
    color: #333;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.25s ease;
}
.oneTalkContainer:hover{
    transform: translateY(-2px);
}

/* La partie d'un côté d'une discussion */
.oneTalkPartContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Le titre de la discussion */
.oneTalkTitle{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 600px;
    font-weight: 600;
}

/* Le conteneur d'un utilisateur */
.oneTalkUserContainer{
    display: flex;
    align-items: center;
}
.oneTalkUserContainer.right{
    margin-top: auto;
}

/* L'image d'un utilisateur */
.oneTalkUserImage{
    width: 40px;
    height: 40px;
    margin-right: 0.25em;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
}
.oneTalkUserImage.small{
    width: 30px;
    height: 30px;
}

/* Le pseudo de l'utilisateur */
.oneTalkUsername{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    max-width: 500px;
}
.oneTalkUsername.small{
    font-size: 0.875em;
    max-width: 70px;
}
.oneTalkUsername.post{
    max-width: 580px;
}

/* Le temps de la publication */
.oneTalkUserTime{
    font-size: 0.875em;
}
.oneTalkUserTime.small{
    font-size: 0.75em;
    align-self: flex-end;
}
.oneTalkUserTime.post{
    text-align: end;
}

/* La partie du nombre de post d'une discussion */
.oneTalkComments{
    align-self: flex-end;
}

/* Conteneur de la page d'une discussion */
.talkContainer{
    width: 80%;
    margin: auto;
}

/* Le conteneur d'un post */
.onePostContainer{
    margin: 0 auto 1em auto;
    background-color: #fff;
    color: #333;
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* La partie du haut du conteneur */
.onePostTopContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

/* La partie avant les post de la discussion */
.oneTalkRepliesTopContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 1em 0;
}

/* Le texte du nombre de réponses */
.oneTalkRepliesNumber{
    font-weight: 600;
    font-size: 1.25em;
}

/* Le texte avant les filtres */
.oneTalkFilterTextBefore{
    font-weight: 500;
}

/* Le texte des likes d'un post */
.onePostLikes{
    margin: 0.5em 0.5em 0 auto;
    color: #ff0000;
    font-size: 1.25em;
    width: fit-content;
    cursor: pointer;
}

/* Le texte du nombre de likes d'un post */
.onePostLikesNumber{
    font-size: 0.8em;
    vertical-align: inherit;
}

/* Pour mobile */
@media screen and (max-width: 767px){
    /* Le conteneur d'une discussion */
    .oneTalkContainer{
        width: 95%;
        padding: 0.75em;
    }

    /* Le titre de la discussion */
    .oneTalkTitle{
        font-size: 1.25em;
        max-width: 170px;
    }

    /* Le pseudo de l'utilisateur */
    .oneTalkUsername, .oneTalkUsername.post{
        max-width: 120px;
    }
    .oneTalkUsername.small{
        max-width: 75px;
    }
    
    /* Conteneur de la page d'une discussion */
    .talkContainer{
        width: 95%;
    }

    /* Le conteneur d'un post */
    .onePostContainer{
        padding: 0.5em;
    }

    /* Le texte pour les filtres */
    .oneTalkFilterText{
        font-size: 0.8em;
    }
}

/* Pour tablette */
@media screen and (min-width: 768px) and (max-width: 1024px){
    /* Le conteneur d'une discussion */
    .oneTalkContainer{
        width: 90%;
    }

    /* Le titre de la discussion */
    .oneTalkTitle{
        max-width: 500px;
    }

    /* Le pseudo de l'utilisateur */
    .oneTalkUsername, .oneTalkUsername.post{
        max-width: 450px;
    }
    .oneTalkUsername.small{
        max-width: 75px;
    }
    
    /* Conteneur de la page d'une discussion */
    .talkContainer{
        width: 90%;
    }

    /* Le conteneur d'un post */
    .onePostContainer{
        padding: 0.75em;
    }

    /* Le texte pour les filtres */
    .oneTalkFilterText{
        font-size: 0.9em;
    }
}

/* Pour mobile et tablette */
@media screen and (max-width: 1024px){
    /* L'image d'un utilisateur */
    .oneTalkUserImage{
        width: 35px;
        height: 35px;
    }
    .oneTalkUserImage.small{
        width: 25px;
        height: 25px;
    }
}