{% extends 'base.html.twig' %}

{% block title %}Banned{% endblock %}

{% block body %}
    <main class="homeContainer">
        <h1 class="title">Banned!</h1>
        <p>You are banned, you are not allowed to access this website</p>
    </main>
{% endblock %}
