{% extends 'base.html.twig' %}

{% block title %}Your calendar{% endblock %}

{% block body %}
    <main>
        <h1 class="title">Your Calendar</h1>
        <div id="calendar"></div>
    </main>
{% endblock %}