{% extends 'base.html.twig' %}

{% block title %}Admin Space{% endblock %}

{% block body %}
    <h1 class="title">Admin Space : {{ app.user.pseudo }}</h1>
    <div>
        <p>Number of users: {{ totalUsers }} <a href="#">See all users (Not banned and banned)</a></p>
        <p>Number of talks: ? </p>
        <p>Number of animes in our database : ? <a href="#">See all animes</a></p>
    </div>
    <section>
        <h2>Most active users (talks and posts)</h2>
    </section>
    <section>
        <h2>Most active talks</h2>
    </section>
    <section>
        <h2>Users and number of animes in there anime list</h2>
    </section>
{% endblock %}
