{% extends 'base.html.twig' %}

{% block title %}{{ user.pseudo }}Anime list{% endblock %}

{% block body %}
    <main>
        <h1 class="homeTitle">{{ user.pseudo }}'s Anime List</h1>
    </main>
{% endblock %}