{% extends "base.html.twig" %}

{% block title %}
    Internal Server Error
{% endblock %}

{% block body %}
    <main class="homeContainer">
        <h1 class="title {{ app.user and app.user.darkMode ? 'dark' }}">Internal Server Error</h1>
        <p>There is an error</p>
    </main>
{% endblock %}