{% extends "base.html.twig" %}

{% block title %}
    Page not found
{% endblock %}

{% block body %}
    <main class="homeContainer">
        <h1 class="title {{ app.user and app.user.darkMode ? 'dark' }}">Page not found</h1>
        <p class="simpleText {{ app.user and app.user.darkMode ? 'dark' }}">The page you are searching does not exist</p>
    </main>
{% endblock %}