{% extends 'base.html.twig' %}

{% block title %}Change your Username{% endblock %}

{% block body %}
    <main>
        {# Affichage du formulaire de changement de pseudo #}
        <div class="securityFormContainer">
            {{ form_start(form) }}
                <h1 class="securityFormTitle">Change your Username</h1>
                <div class="securityFormRow">
                    {{ form_label(form.pseudo, 'Username') }}
                    {{ form_widget(form.pseudo) }}
                </div>
                <button type="submit" class="securityFormSubmitButton large">Change Username</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}