{% extends 'base.html.twig' %}

{% block title %}Change your profile picture{% endblock %}

{% block body %}
    <main>
        {# Affichage du formulaire de changement d'image de profil #}
        <div class="securityFormContainer">
            {{ form_start(form) }}
                <h1 class="securityFormTitle">Change your profile picture</h1>
                <div class="securityFormRow">
                    {{ form_label(form.imageProfil, 'Profile picture') }}
                    {{ form_widget(form.imageProfil) }}
                </div>
                <button type="submit" class="securityFormSubmitButton large">Change Profile Picture</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}